<%
const mod = `${module}/${portal}/`;
const studio = `${mod}js/studio/`;
const standaloneData = typeof standalone !== 'undefined' ? JSON.stringify(standalone) : '';
const sandbox = {
  url: process.env.STUDIO_SANDBOX || 'https://sandbox.iondv.com/rest/sandbox',
  token: process.env.STUDIO_TOKEN || '23af810e'
};
%>
<% layout('../layouts/main') -%>

<div class="studio-main"
     data-standalone="<%= standaloneData %>"
     data-sandbox="<%= JSON.stringify(sandbox) %>">

  <%- partial('../parts/tabs') %>

  <div class="studio-content">
    <%- partial('../parts/toolbar') %>
    <%- partial('../parts/class-uml') %>
    <%- partial('../parts/list-view') %>
    <%- partial('../parts/print-view') %>
    <%- partial('../parts/view') %>
    <%- partial('../parts/workflow-view') %>
    <%- partial('../parts/task-area') %>
    <%- partial('../parts/workflow-uml') %>
    <%- partial('../parts/ui-editor')%>
    <%- partial('../parts/changelog-area')%>

    <%- partial('../parts/deploy/deploy')%>
    <%- partial('../parts/deploy/global')%>
    <%- partial('../parts/deploy/global-module-title')%>
    <%- partial('../parts/deploy/global-top-menu')%>
    <%- partial('../parts/deploy/global-plugin')%>
    <%- partial('../parts/deploy/global-job')%>
    <%- partial('../parts/deploy/module')%>
  </div>

  <div class="studio-sidebar unselectable">
    <div class="sidebar-section">
      <div class="studio-sidebar-menu sidebar-menu"></div>
    </div>
  </div>

  <div class="studio-alert alert alert-danger">
    <button type="button" class="close"><span aria-hidden="true">×</span></button>
    <div class="alert-content"></div>
  </div>

  <%- partial('../parts/samples') %>

  <div class="pending-app-loader overlay"><span class="fa fa-refresh fa-spin"></span></div>

</div>

<%- partial('../modals/app') %>
<%- partial('../modals/app-merge') %>
<%- partial('../modals/class') %>
<%- partial('../modals/class-attr') %>
<%- partial('../modals/class-view') %>
<%- partial('../modals/class-view-attr') %>
<%- partial('../modals/class-view-group') %>
<%- partial('../modals/class-print-view') %>

<%- partial('../modals/deploy/deploy') %>
<%- partial('../modals/deploy/global') %>
<%- partial('../modals/deploy/global-module-title') %>
<%- partial('../modals/deploy/global-top-menu') %>
<%- partial('../modals/deploy/global-plugin') %>
<%- partial('../modals/deploy/global-job') %>

<%- partial('../modals/deploy/module') %>
<%- partial('../modals/deploy/module-registry') %>
<%- partial('../modals/deploy/module-rest') %>

<%- partial('../modals/nav-section') %>
<%- partial('../modals/nav-item') %>
<%- partial('../modals/nav-item-list-view') %>
<%- partial('../modals/task') %>
<%- partial('../modals/interface') %>
<%- partial('../modals/workflow') %>
<%- partial('../modals/workflow-state') %>
<%- partial('../modals/workflow-transition') %>
<%- partial('../modals/import-tasks') %>
<%- partial('../modals/import-external-app') %>
<%- partial('../modals/export') %>
<%- partial('../modals/external-service') %>
<%- partial('../modals/studio-alert') %>
<%- partial('../modals/code-editor') %>
<%- partial('../modals/help') %>
<%- partial('../modals/help-ru') %>
<%- partial('../modals/sandbox')%>

<% stylesheet(`${mod}css/uml.css`) -%>

<% script(`${mod}js/uml/uml.js`) -%>
<% script(`${mod}js/uml/page.js`) -%>
<% script(`${mod}js/uml/rect.js`) -%>
<% script(`${mod}js/uml/rect-attr.js`) -%>
<% script(`${mod}js/uml/draggable.js`) -%>
<% script(`${mod}js/uml/pulling.js`) -%>
<% script(`${mod}js/uml/link.js`) -%>
<% script(`${mod}js/uml/helper.js`) -%>

<% stylesheet(`${mod}css/studio.css`) -%>

<% script(`${studio}studio.js`) -%>
<% script(`${studio}adapters/class-uml.js`) -%>
<% script(`${studio}adapters/workflow-uml.js`) -%>
<% script(`${studio}adapters/ui.js`) -%>

<% script(`${studio}components/alert.js`) -%>
<% script(`${studio}components/modal.js`) -%>
<% script(`${studio}components/modal-alert.js`) -%>
<% script(`${studio}components/base-table.js`) -%>
<% script(`${studio}components/task-area.js`) -%>
<% script(`${studio}components/toolbar.js`) -%>
<% script(`${studio}components/tabs.js`) -%>
<% script(`${studio}components/sidebar.js`) -%>
<% script(`${studio}components/sidebar-menu.js`) -%>
<% script(`${studio}components/list-view-maker.js`) -%>
<% script(`${studio}components/print-view-maker.js`) -%>
<% script(`${studio}components/view-maker.js`) -%>
<% script(`${studio}components/workflow-view-maker.js`) -%>
<% script(`${studio}components/changelog-area.js`) -%>
<% script(`${studio}components/model-view.js`) -%>
<% script(`${studio}components/form-condition.js`) -%>
<% script(`${studio}components/form-extension.js`) -%>
<% script(`${studio}components/standalone.js`) -%>
<% script(`${studio}components/sandbox.js`) -%>

<% script(`${studio}components/deploy/module-list.js`) -%>
<% script(`${studio}components/deploy/global-module-title-list.js`) -%>
<% script(`${studio}components/deploy/global-top-menu-list.js`) -%>
<% script(`${studio}components/deploy/global-plugin-list.js`) -%>
<% script(`${studio}components/deploy/global-job-list.js`) -%>
<% script(`${studio}components/deploy/view.js`) -%>

<% script(`${studio}models/model.js`) -%>
<% script(`${studio}models/app.js`) -%>
<% script(`${studio}models/class.js`) -%>
<% script(`${studio}models/class-attr.js`) -%>
<% script(`${studio}models/class-view.js`) -%>
<% script(`${studio}models/class-view-attr.js`) -%>
<% script(`${studio}models/class-view-group.js`) -%>
<% script(`${studio}models/class-print-view.js`) -%>
<% script(`${studio}models/nav-section.js`) -%>
<% script(`${studio}models/nav-item.js`) -%>
<% script(`${studio}models/task.js`) -%>
<% script(`${studio}models/interface.js`) -%>
<% script(`${studio}models/workflow.js`) -%>
<% script(`${studio}models/workflow-state.js`) -%>
<% script(`${studio}models/workflow-transition.js`) -%>
<% script(`${studio}models/external-service.js`) -%>

<% script(`${studio}models/deploy/deploy.js`) -%>
<% script(`${studio}models/deploy/global.js`) -%>
<% script(`${studio}models/deploy/global-module-title.js`) -%>
<% script(`${studio}models/deploy/global-top-menu.js`) -%>
<% script(`${studio}models/deploy/global-plugin.js`) -%>
<% script(`${studio}models/deploy/global-job.js`) -%>
<% script(`${studio}models/deploy/module.js`) -%>
<% script(`${studio}models/deploy/module-registry.js`) -%>

<% script(`${studio}models/package/package.js`) -%>

<% script(`${studio}forms/form.js`) -%>
<% script(`${studio}forms/model-form.js`) -%>
<% script(`${studio}forms/app-form.js`) -%>
<% script(`${studio}forms/app-merge-form.js`) -%>
<% script(`${studio}forms/class-form.js`) -%>
<% script(`${studio}forms/class-attr-form.js`) -%>
<% script(`${studio}forms/class-view-form.js`) -%>
<% script(`${studio}forms/class-view-attr-form.js`) -%>
<% script(`${studio}forms/class-view-group-form.js`) -%>
<% script(`${studio}forms/class-print-view-form.js`) -%>
<% script(`${studio}forms/nav-section-form.js`) -%>
<% script(`${studio}forms/nav-item-form.js`) -%>
<% script(`${studio}forms/task-form.js`) -%>
<% script(`${studio}forms/interface-form.js`) -%>
<% script(`${studio}forms/workflow-form.js`) -%>
<% script(`${studio}forms/workflow-state-form.js`) -%>
<% script(`${studio}forms/workflow-transition-form.js`) -%>
<% script(`${studio}forms/export-form.js`) -%>
<% script(`${studio}forms/external-service-form.js`) -%>
<% script(`${studio}forms/import-task-form.js`) -%>
<% script(`${studio}forms/import-external-app-form.js`) -%>
<% script(`${studio}forms/code-editor-form.js`) -%>
<% script(`${studio}forms/attrs/attr.js`) -%>
<% script(`${studio}forms/attrs/check-list.js`) -%>
<% script(`${studio}forms/attrs/checkbox.js`) -%>
<% script(`${studio}forms/attrs/commands.js`) -%>
<% script(`${studio}forms/attrs/condition.js`) -%>
<% script(`${studio}forms/attrs/entry.js`) -%>
<% script(`${studio}forms/attrs/date.js`) -%>
<% script(`${studio}forms/attrs/integer.js`) -%>
<% script(`${studio}forms/attrs/file.js`) -%>
<% script(`${studio}forms/attrs/code.js`) -%>
<% script(`${studio}forms/attrs/radio-list.js`) -%>
<% script(`${studio}forms/attrs/select-model.js`) -%>
<% script(`${studio}forms/attrs/select-external-service.js`) -%>
<% script(`${studio}forms/attrs/deploy-rest-auth-mode.js`) -%>

<% script(`${studio}forms/deploy/form.js`) -%>
<% script(`${studio}forms/deploy/global-form.js`) -%>
<% script(`${studio}forms/deploy/global-module-title-form.js`) -%>
<% script(`${studio}forms/deploy/global-top-menu-form.js`) -%>
<% script(`${studio}forms/deploy/global-plugin-form.js`) -%>
<% script(`${studio}forms/deploy/global-job-form.js`) -%>

<% script(`${studio}forms/deploy/module-form.js`) -%>
<% script(`${studio}forms/deploy/module-registry-form.js`) -%>
<% script(`${studio}forms/deploy/module-rest-form.js`) -%>

<% script(`${studio}behaviors/behavior.js`) -%>

<% script(`${studio}validation/validator.js`) -%>
<% script(`${studio}validation/unique.js`) -%>

<% script(`${studio}util/store.js`) -%>
<% script(`${studio}util/app-download.js`) -%>
<% script(`${studio}util/app-deploy.js`) -%>
<% script(`${studio}util/app-vendor.js`) -%>
<% script(`${studio}util/app-upload.js`) -%>
<% script(`${studio}util/alignment.js`) -%>
<% script(`${studio}util/droppable.js`) -%>
<% script(`${studio}util/meta-parser.js`) -%>