<!-- commands-view -->
<%
  const params = {};
  const items = [{
    id: 'SAVE',
    caption: 'Save',
    visibilityCondition: null,
    enableCondition: null,
    needSelectedItem: false,
    signBefore: false,
    signAfter: false,
    isBulk: false
  },{
    id: 'SAVEANDCLOSE',
    caption: 'Save and close',
    visibilityCondition: null,
    enableCondition: null,
    needSelectedItem: false,
    signBefore: false,
    signAfter: false,
    isBulk: false
  },{
    id: 'DELETE',
    caption: 'Delete',
    visibilityCondition: null,
    enableCondition: null,
    needSelectedItem: false,
    signBefore: false,
    signAfter: false,
    isBulk: false
  }];
  const defaults = ['SAVE', 'SAVEANDCLOSE', 'DELETE'];
%>
<%- partial('./params', {params}) %>

<div class="attr form-group<%- params.required %>"
     data-type="commands"
     data-name="<%- params.name %>"
     data-extension="<%= params.extension %>"
     data-action="<%- params.action %>">
  <label class="control-label col-sm-3 l10n"><%- params.label %></label>
  <div class="col-sm-9">
    <input type="hidden" class="form-control value" value="">
    <div class="commands" data-params="<%= JSON.stringify({items, defaults}) %>">
      <% for (let item of items) { %>
      <button class="btn btn-default l10n" type="button"
              data-l10n="commands"
              data-command="<%- item.id %>"><%- item.caption%></button>
      <% } %>
    </div>
    <div class="hint-block l10n"><%- params.hint %></div>
    <div class="error-block"></div>
  </div>
</div>
