<!-- ашду -->
<%
let params = {
  accept: typeof accept === 'undefined' ? '*.*' : accept,
  image: typeof image === 'undefined' ? '' : image
};
%>
<%- partial('./params', {params}) %>

<div class="attr form-group<%- params.required %>" data-type="file"
     data-image="<%- params.image %>"
     data-name="<%- params.name %>">
  <label class="control-label col-sm-3 l10n"><%- params.label %></label>
  <div class="col-sm-9">
    <input type="hidden" class="value">
    <input type="file" class="form-control" accept="<%- params.accept %>">
    <div class="hint-block l10n"><%- params.hint %></div>
    <div class="file-download-link" title="Download"></div>
    <div class="error-block"></div>
  </div>
</div>