<!-- integer -->
<%
  let params = {};
%>
<%- partial('./params', {params}) %>

<div class="attr form-group<%- params.required %>" data-type="integer"
     data-name="<%- params.name %>"
     data-default-value="<%= params.defaultValue %>">
  <label class="control-label col-sm-3 l10n"><%- params.label %></label>
  <div class="col-sm-9">
    <input type="text" class="form-control value"
           value="<%= params.value %>" placeholder="<%- params.placeholder %>">
    <div class="hint-block l10n"><%- params.hint %></div>
    <div class="error-block"></div>
  </div>
</div>