<!-- text -->
<%
  let params = {};
%>
<%- partial('./params', {params}) %>

<div class="attr form-group<%- params.required %>"
     data-type="text"
     data-extension="<%= params.extension %>"
     data-name="<%- params.name %>">
  <label class="control-label col-sm-3 l10n"><%- params.label %></label>
  <div class="col-sm-9">
    <textarea class="form-control value" rows="3"
              placeholder="<%- params.placeholder %>"><%= params.value %></textarea>
    <div class="hint-block l10n"><%- params.hint %></div>
    <div class="error-block"></div>
  </div>
</div>